---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Formulario from '../components/Formulario.astro';
---

<BaseLayout>
	<section class="mt-16">
		<div class="flex w-[61rem] mx-auto space-x-20">
			<img
				src="../public/images/contacto-imagen.png"
				alt="images Julian Potes vector con celular"
				class="w-80 h-80"
			/>
			<div class="flex flex-col gap-8 my-auto">
				<h1 class="text-7xl font-bold text-[var(--rojo-principal)]">
					Contacto
				</h1>
				<h2 class="text-3xl text-white font-semibold">
					¿Tienes un proyecto en mente o una idea que quieres hacer realidad?
				</h2>
				<p class="text-white text-lg">
					Estoy disponible para colaboraciones, ofertas laborales o simplemente
					para conversar sobre diseño y creatividad.
				</p>
				<div class="flex">
					<Button
						texto="Contáctame"
						iconoSrc="../public/icons/whatsapp.svg"
						href="https://wa.me/573173811318?text=%C2%A1Hola%20Juli%C3%A1n!"
						target="_blank"
					/>
				</div>
			</div>
		</div>
	</section>

	<section class="flex mx-auto justify-center w-[71rem] gap-4 mt-16">
		<div>
			<Formulario />
		</div>

		<div class="w-[681px]">
			<div class="bg-[#1E1E1E] p-8 rounded-xl">
				<div class="flex flex-col gap-4">
					<h2 class="text-3xl text-[var(--rojo-principal)] font-semibold">
						Información de contacto
					</h2>
					<h3 class="text-white text-lg">
						Otras formas de ponerte en contacto conmigo
					</h3>
					<div class="text-white flex">
						<img src="../public/mail.svg" alt="Email" />
						<div class="flex flex-col ml-4">
							<p class="text-lg">Email</p>
							<p class="text-lg">julianpotesvillada@gmail.com</p>
						</div>
					</div>
					<div class="text-white flex">
						<img src="../public/whatsapp.svg" alt="Teléfono" />
						<div class="flex flex-col ml-4">
							<p class="text-lg">Teléfono</p>
							<p class="text-lg">( +57 ) 317 381 1318</p>
						</div>
					</div>
					<div class="text-white flex">
						<img src="../public/location.svg" alt="Ubicación" />
						<div class="flex flex-col ml-4">
							<p class="text-lg">Ubicación</p>
							<p class="text-lg">Tuluá, Colombia</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-[#1E1E1E] p-8 rounded-xl mt-4 space-y-4">
				<h2 class="text-3xl font-semibold text-[var(--rojo-principal)]">Sígueme en redes</h2>
				<h3 class="text-white text-lg">Conecta conmigo en mis plataformas favoritas</h3>
				<div class="columns-2 space-y-4">
					<div class="border border-[var(--rojo-principal)] rounded-lg">
						<a href="" class="flex gap-4 p-4">
							<img src="../public/icons/behance-mini.svg" alt="Logo Behance" />
							<p class="text-lg text-white">Behance</p>
						</a>
					</div>
					<div class="border border-[var(--rojo-principal)] rounded-lg">
						<a href="" class="flex gap-4 p-4">
							<img
								src="../public/icons/linkedin-mini.svg"
								alt="Logo Linkedin"
							/>
							<p class="text-lg text-white">Linkedin</p>
						</a>
					</div>
					<div class="border border-[var(--rojo-principal)] rounded-lg">
						<a href="" class="flex gap-4 p-4">
							<img src="../public/icons/github-mini.svg" alt="Logo Github" />
							<p class="text-lg text-white">Github</p>
						</a>
					</div>
					<div class="border border-[var(--rojo-principal)] rounded-lg">
						<a href="" class="flex gap-4 p-4">
							<img
								src="../public/icons/instagram-mini.svg"
								alt="Logo Instagram"
							/>
							<p class="text-lg text-white">Instagram</p>
						</a>
					</div>
				</div>
			</div>

            <div class="mt-4 bg-[#1E1E1E] p-8 rounded-xl space-y-4 text-white">
                    <h2 class="text-3xl font-semibold text-[var(--rojo-principal)]">Disponibilidad</h2>

                    <div class="flex items-center gap-3 text-lg">
                        <span><img src="../public/icons/disponible.svg" alt=""></span>
                        <span>Disponible para proyectos freelance y laborales.</span>
                    </div>
                    <div class="flex items-center gap-3 text-lg">
                        <span><img src="../public/icons/disponible2.svg" alt=""></span>
                        <span>Abierto a colaboraciones.</span>
                    </div>
                    <div class="flex items-center gap-3 text-lg">
                        <span><img src="../public/icons/disponible3.svg" alt=""></span>
                        <span>Tiempo de respuesta: 24-48 horas.</span>
                    </div>
            </div>
		</div>
	</section>
</BaseLayout>