---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section id="hero" class="flex justify-center items-center">
		<div>
			<img class="h-[43.938rem]" src="/hero-julian.png" alt="" />
		</div>

		<div class="text-white">
			<h2 class="text-[#FF0000] text-[3rem]">Hola, mi nombre es</h2>
			<h1 class="text-[#FF0000] text-[7.438rem] font-bold">Julián Potes</h1>
			<p class="text-[1.688rem] max-w-[35.5rem]">
				Soy diseñador gráfico, apasionado por crear soluciones visuales
				funcionales y con propósito.
			</p>
			<div class="text-white">
				<span>Diseño</span>
				<span>UX/UI</span>
				<span>Desarrollo</span>
			</div>
			<Button texto="Currículo" iconoSrc="/icons/descarga.svg" />
		</div>
	</section>
</Layout>
