---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section id="hero" class="flex justify-center items-center" >
		<div>
			<img class="h-[43.938rem]" src="/hero-julian.png" alt="">
		</div>

		<div class="text-white">
			<h2 class="text-[#FF0000] text-[3rem]" >Hola, mi nombre es</h2>
			<h1 class="text-[#FF0000] text-[7.438rem] font-bold">Juli치n Potes</h1>
			<p class="text-[1.688rem] max-w-[35.5rem]">Soy dise침ador gr치fico, apasionado por crear soluciones visuales funcionales y con prop칩sito.</p>
		</div>
	</section>
	
	
</Layout>
