---
import Button from '../components/Button.astro';
import Label from '../components/Label.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<!-- hero -->
	<section id="hero" class="flex justify-center items-center mt-[2.5rem] gap-8">
		<div>
			<img class="h-[40rem]" src="/hero-julian.png" alt="" />
		</div>

		<div class="text-white">
			<h2 class="text-[#FF0000] text-[3rem] leading-[0.5]">
				Hola, mi nombre es
			</h2>
			<h1 class="text-[#FF0000] text-[7rem] font-bold">Julián Potes</h1>
			<p class="text-[1.688rem] max-w-[34rem] font-light leading-[1.3]">
				Soy diseñador gráfico, apasionado por crear soluciones visuales
				funcionales y con propósito.
			</p>
			<div class="flex gap-4.5 mt-8.5 mb-[6rem]">
				<Label texto="Diseño" iconSrc="/icons/pluma.svg" />
				<Label texto="UX/UI" iconSrc="/icons/compu.svg" />
				<Label texto="Desarrollo" iconSrc="/icons/dev.svg" />
			</div>
			<Button texto="Currículo" iconoSrc="/icons/descarga.svg" />
		</div>
	</section>

	<!-- Propiedades -->
	<section class="flex justify-center items-center mt-28">
		<div
			class="text-white flex max-w-[1436px] rounded-4xl border-[#1E1E1E] border-2 py-16 px-24 gap-32"
		>
			<span class="w-72">
				<img src="icons/diseno.svg" class="mb-4.5" />
				<h2 class="text-4xl font-semibold text-[#FF0000] mb-8">
					Creativo Visual
				</h2>
				<p>
					Transformo ideas en piezas visuales impactantes que comunican,
					conectan y venden.
				</p>
			</span>
			<span class="w-72">
				<img src="icons/compu2.svg" class="mb-4.5" />
				<h2 class="text-4xl font-semibold text-[#FF0000] mb-8">
					Enfoque UX/UI
				</h2>
				<p>
					Diseño experiencias centradas en el usuario, priorizando usabilidad,
					estética y funcionalidad.
				</p>
			</span>
			<span class="w-72">
				<img src="icons/web.svg" class="mb-4.5" />
				<h2 class="text-4xl font-semibold text-[#FF0000] mb-8">Visión Web</h2>
				<p>
					Integro diseño y desarrollo para crear sitios modernos, dinámicos y
					optimizados para todos los dispositivos.
				</p>
			</span>
		</div>
	</section>

	<!-- Proyectos -->
	<section class="max-w-[71rem] mx-auto mt-32">
		<div class="text-white flex place-content-between">
			<h1 class="text-[#FF0000] text-4xl font-semibold">
				Algunos de mis trabajos
			</h1>
			<Button texto="Ver todos" iconoSrc="/icons/flecha-derecha.svg" />
		</div>
		<p class="text-white w-96">
			Un vistazo a los proyectos más representativos de mi recorrido
			profesional.
		</p>

		<!--Tarjetas -->
		<div class="grid grid-cols-2 gap-8 mt-[8rem]">
				<Card
				title="Diseño de sitio web XmartMedia"
				href="/images/xmartmedia.png"
				label="UX/UI"
				link="#"
				/>
			<Card
				title="Creación de logo y piezas gráficas Colombian Place"
				href="/images/colombian-place.png"
				label="Diseño"
				link="#"
			/>
			<Card
				title="Propuesta de branding corporativo Xherpa"
				href="/images/xherpa.png"
				label="Diseño"
				link="#"
			/>
			<Card
				title="Diseño sitio web Boating Cartagena"
				href="/images/boating-cartagena.png"
				label="UX/UI"
				link="#"
			/>
		</div>
	</section>

	<!-- Empresas -->
	<section class="mt-[10rem]">
		<div class="border-y-[#1E1E1E] border-2 py-18">
			<h1 class="text-4xl text-[#FF0000] font-semibold text-center mb-[7rem]">
				Empresas que han confiado en mi trabajo
			</h1>
			<div class="relative overflow-hidden">
				<div class="flex animate-scroll space-x-20">
					<img src="/logos-empresas/xmart-call.svg" />
					<img src="/logos-empresas/xherpa.svg" alt="logo Xmart Call" />
					<img src="/logos-empresas/xmart-fi.svg" alt="logo Xmart Fi" />
					<img src="/logos-empresas/xmart-group.svg" alt="logo Xmart Group" />
					<img src="/logos-empresas/xmart-media.svg" alt="logo Xmart Media" />
					<img
						src="/logos-empresas/boating-cartagena.svg"
						alt="logo Boating Cartagena"
					/>
					<img src="/logos-empresas/colombina.svg" alt="logo Colombina" />
					<img src="/logos-empresas/gren-wave.svg" alt="logo Green Wave" />
					<img src="/logos-empresas/levapan.svg" alt="logo Levapan" />
					<img src="/logos-empresas/max-produce.svg" alt="logo Max Produce" />
					<img src="/logos-empresas/ultra.svg" alt="logo Ultra" />
					<img src="/logos-empresas/vast.svg" alt="logo Vast" />
					<img
						src="/logos-empresas/wood.svg"
						alt="logo Woodpeckers Solutions"
					/>
					<img src="/logos-empresas/albania.svg" alt="logo Albania" />

					<img src="/logos-empresas/xmart-call.svg" />
					<img src="/logos-empresas/xherpa.svg" alt="logo Xmart Call" />
					<img src="/logos-empresas/xmart-fi.svg" alt="logo Xmart Fi" />
					<img src="/logos-empresas/xmart-group.svg" alt="logo Xmart Group" />
					<img src="/logos-empresas/xmart-media.svg" alt="logo Xmart Media" />
					<img
						src="/logos-empresas/boating-cartagena.svg"
						alt="logo Boating Cartagena"
					/>
					<img src="/logos-empresas/colombina.svg" alt="logo Colombina" />
					<img src="/logos-empresas/gren-wave.svg" alt="logo Green Wave" />
					<img src="/logos-empresas/levapan.svg" alt="logo Levapan" />
					<img src="/logos-empresas/max-produce.svg" alt="logo Max Produce" />
					<img src="/logos-empresas/ultra.svg" alt="logo Ultra" />
					<img src="/logos-empresas/vast.svg" alt="logo Vast" />
					<img
						src="/logos-empresas/wood.svg"
						alt="logo Woodpeckers Solutions"
					/>
					<img src="/logos-empresas/albania.svg" alt="logo Albania" />
				</div>
			</div>
		</div>
	</section>

	<!-- Sobre mi -->
	<section class="my-[4.5rem]">
		<div class="flex max-w-[71rem] mx-auto items-center gap-18">
			<span>
				<img src="/julian-sobre-mi.png" alt="" />
			</span>
			<span class="w-[34rem]">
				<Label texto="Sobre mi" iconSrc="/perfil.svg" />
				<h2 class="text-4xl text-[#FF0000] font-semibold mt-4 mb-8">
					¿Por qué trabajar conmigo en tu próximo proyecto?
				</h2>
				<p class="text-white mb-12">
					Soy diseñador gráfico con una sólida trayectoria creando soluciones
					visuales impactantes para marcas y productos. Actualmente, combino mi
					experiencia en diseño con nuevas habilidades en desarrollo web y
					diseño UX/UI, para ofrecer resultados visualmente atractivos,
					funcionales y centrados en el usuario.
					<br /><br />
					Mi enfoque es construir experiencias digitales claras, modernas y efectivas.
					No solo diseño lo que se ve bien, sino lo que realmente conecta y funciona.
					Cada proyecto es una oportunidad para crear algo auténtico, útil y memorable.
				</p>
				<Button texto="Conocer más" iconoSrc="/icons/flecha-derecha.svg" />
			</span>
		</div>
	</section>
	<section>
		<div
			class="justify-items-center bg-[url(/fondo-disenos.p.png)] bg-fixed py-24"
		>
			<h1 class="text-4xl font-semibold text-[#FF0000]">
				¿Tienes un proyecto en mente?
			</h1>
			<p class="text-white font-normal mt-4 mb-16">
				Estoy listo para crear algo increíble contigo.
			</p>
			<Button texto="Contáctame" iconoSrc="/icons/flecha-derecha.svg" />
		</div>
	</section>
</Layout>

<style>
	@keyframes scroll {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	.animate-scroll {
		animation: scroll 30s linear infinite;
	}

	/* Pausar la animación al hacer hover */
	.animate-scroll:hover {
		animation-play-state: paused;
	}
</style>
