---

---

<div class="bg-black px-[15rem]">
	<div class="pt-40 flex place-content-between">
		<div>
			<img src="/logo-julian-potes.svg" alt="logotipo julian potes" />
			<div class="flex mt-8 gap-2">
				<img src="/insta.svg" alt="" />
				<img src="/behance.svg" alt="" />
				<img src="/linkedin.svg" alt="" />
				<img src="/github.svg" alt="" />
				<img src="/mail.svg" alt="" />
			</div>
		</div>
		<div class="flex text-[#515151] gap-8">
			<a href="">Inicio</a>
			<a href="">Sobre mi</a>
			<a href="">Proyectos</a>
			<a href="">Contacto</a>
			<a href="">Politica de privacidad</a>
		</div>
	</div>

	<div>
		<hr class="border-[#FF0000] mt-18" />
	</div>
	<div>
		<p class="text-[#515151] text-center py-4">
			© 2025 Diseñado y desarrollado por Julián Potes - Todos los derechos
			reservados.
		</p>
	</div>
</div>
