---

---

<div class="bg-black px-4 sm:px-8 md:px-16 lg:px-32 xl:px-60">
	<div class="pt-20 md:pt-40 flex flex-col md:flex-row md:place-content-between gap-8 md:gap-0">
		<div class="flex flex-col items-center md:items-start">
			<img src="/logo-julian-potes.svg" alt="logotipo julian potes" class="h-10 md:h-auto" />
			<div class="flex mt-6 md:mt-8 gap-2 justify-center md:justify-start">
				<a href="https://www.instagram.com/julianpotesvillada" target="_blank"><img src="/insta.svg" alt="Instagram" class="w-10 h-10 md:w-6 md:h-6 hover:opacity-80 transition-opacity cursor-pointer" /></a>
				<a href="https://www.behance.net/julianpotesv" target="_blank"><img src="/behance.svg" alt="Behance" class="w-10 h-10 md:w-6 md:h-6 hover:opacity-80 transition-opacity cursor-pointer" /></a>
				<a href="https://www.linkedin.com/in/julian-potes" target="_blank"><img src="/linkedin.svg" alt="LinkedIn" class="w-10 h-10 md:w-6 md:h-6 hover:opacity-80 transition-opacity cursor-pointer" /></a>
				<a href="https://github.com/JulianPotesV" target="_blank"><img src="/github.svg" alt="GitHub" class="w-10 h-10 md:w-6 md:h-6 hover:opacity-80 transition-opacity cursor-pointer" /></a>
				<a href="mailto:julianpotesvillada@gmail.com" target="_blank"><img src="/mail.svg" alt="Email" class="w-10 h-10 md:w-6 md:h-6 hover:opacity-80 transition-opacity cursor-pointer" /></a>
			</div>
		</div>
		
		<!-- Navegación responsive -->
		<div class="flex flex-col sm:flex-row text-[#515151] gap-4 sm:gap-6 lg:gap-8 text-center md:text-left">
			<a href="/" class="hover:text-white transition-colors text-sm md:text-base">Inicio</a>
			<a href="/sobre-mi" class="hover:text-white transition-colors text-sm md:text-base">Sobre mi</a>
			<a href="/proyectos" class="hover:text-white transition-colors text-sm md:text-base">Proyectos</a>
			<a href="/contacto" class="hover:text-white transition-colors text-sm md:text-base">Contacto</a>
			<a href="/politica-privacidad" class="hover:text-white transition-colors text-sm md:text-base">Política de privacidad</a>
		</div>
	</div>

	<div class="mt-12 md:mt-18">
		<hr class="border-[#FF0000]" />
	</div>
	
	<div>
		<p class="text-[#515151] text-center py-4 text-sm md:text-base px-4">
			© 2025 Diseñado y desarrollado por Julián Potes - Todos los derechos reservados.
		</p>
	</div>
</div>