---

---

<div class="flex justify-center items-center">
  <div class="bg-[#1E1E1E] flex items-center rounded-full mt-12">
    <img
      src="/icono-julian-potes.svg"
      alt="icono julian potes"
      class="mx-2 my-2"
    />
    <div class="text-white ml-5">
      <a
        href=""
        class="hover:bg-[#3B3B3B] focus:bg-[#FF0000] hover:text-white hover:rounded-full ease-in-out duration-300 px-4 py-2"
        >Proyectos</a
      >
      <a
        href=""
        class="hover:bg-[#3B3B3B] hover:text-white hover:rounded-full ease-in-out duration-300 ml-5 px-4 py-2"
        >Sobre mi</a
      >
      <a
        href=""
        class="hover:bg-[#3B3B3B] hover:text-white hover:rounded-full ease-in-out duration-300 ml-5 mr-10 px-4 py-2"
        >Contacto</a
      >
    </div>
  </div>
</div>
