---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
const { sinPaddingTop = false } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/photoswipe@5/dist/photoswipe.css"
		/>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />

		<!-- Goole fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = 'https://www.clarity.ms/tag/' + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, 'clarity', 'script', 'snau4cjadv');
		</script>

		<title>Julian Potes</title>
	</head>

	<body class="bg-black min-h-screen flex flex-col overflow-x-hidden">
		<Navbar />
		<main class={`flex-1 ${sinPaddingTop ? '' : 'pt-24'}`}>
			<slot />
		</main>
		<Footer />
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			import Aos from 'aos';

			Aos.init();
		</script>
	</body>
</html>
